{% extends 'base.html.twig' %}

 {% block title %} Admin-ParisGO {% endblock %}

 {% block body %}
     <div class="container">
         {% include 'nav.html.twig' %}
         <h1>Bienvenue sur le dashboard</h1>
     </div>
 {% endblock %}
