{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="m-3 text-center">
        <div class="form-row">
            <div class="col">
                <h3>Username</h3>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            </div>
            <div class="col">
                <h3>Password</h3>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
        </div>
        <button type="submit" class="btn btn-outline-success m-4 col-3">Envoyer</button>
    </form>

{% endblock %}
