{% extends 'base.html.twig' %}

 {% block title %} Admin-ParisGO {% endblock %}

 {% block body %}
     <div class="container">
         {% include 'nav.html.twig' %}
         <div class="container">
             {{ form(form) }}
         </div>
     </div>
 {% endblock %}
