{% extends 'base.html.twig' %}

 {% block title %} Admin-ParisGO {% endblock %}

 {% block body %}
  {% form_theme form 'bootstrap_4_layout.html.twig' %}
  {% include 'nav.html.twig' %}
   <div class="container m-4">
    {{ form_start(form) }}
    {{ form_widget(form)}}
    {{ form_end(form) }}
   </div>
{% endblock %}