{% extends 'base.html.twig' %}

 {% block title %} Admin-ParisGO {% endblock %}

 {% block body %}
<div class="container">
    {% include 'nav.html.twig' %}
    <div class="container">

        <div class="mt-2">
            {% include 'messages/success.html.twig' %}
        </div>

        <a class="btn btn-primary m-2" href="{{ path('admin_create_paris') }}">Ajouter dans Paris</a>

        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Arrondissement</th>
                <th scope="col">Nombre d'hotels</th>
                <th scope="col">Lieu</th>
                <th scope="col">Google Maps</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for detail in paris %}
                    <tr>
                            <th scope="row">{{ detail.id }}</th>
                            <td>{{ detail.borough }}</td>
                            <td>{{ detail.nb_hotels }}</td>
                            <td>{{ detail.district }}</td>
                            <td>Longitude : {{ detail.googleMaps.longitude }} <br> Latitude : {{ detail.googleMaps.latitude }}</td>
                            <td><a href={{ path('admin_update_paris', {id: detail.id}) }} class="btn btn-primary">Modifier</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
 {% endblock %}
