<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_home') }}"> Dashboard </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_index_paris') }}"> Paris </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_logout') }}"> Logout </a>
            </li>
        </ul>
    </div>
</nav>

